*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-image:url(img/background.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    
  }
  h1{
    color:rgb(36, 35, 33);
    font-family: 'Press Start 2P', sans-serif; 
    margin-top: 5%;
  }
  @media (max-width:600px)
  {
    body{
      background-repeat: no-repeat;
      background-size: auto;
    }
  }
  
  .level
  {
    font-size: 240%;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
   }
   @media (max-width:600px)
   {
    .level{
      margin-left: 7rem;
      margin-top: 11rem;
    }
   }
   .level1 {
    display: inline-block;
    font-size: 24px;
    padding: 5px;
    width: 150%;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
    .level1:hover {
    background-color: #3e8e41;
  }
    .level1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .level2 {
    display: inline-block;
    font-size: 24px;
    padding: 5px;
    width: 150%;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #a8da1d;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
    .level2:hover {
    background-color: #778e3e;
  }
    .level2:active {
    background-color: #778e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .level3 {
    display: inline-block;
    font-size: 24px;
    padding: 5px;
    width: 150%;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #e71515;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
    .level3:hover {
    background-color: #960a0a;
  }
    .level3:active {
    background-color: #960a0a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
